
<launch>
    <!-- <rosparam param="use_sim_time">True</rosparam> -->

    <rosparam command="load" file="$(find amiga_control)/config/amiga_control.yaml" />

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="amiga_joint_publisher amiga_velocity_controller" />

    <node pkg="twist_mux" type="twist_mux" name="twist_mux">
        <rosparam command="load" file="$(find amiga_control)/config/twist_mux.yaml" />
        <remap from="cmd_vel_out" to="amiga_velocity_controller/cmd_vel"/>
    </node>
</launch>